name: lint

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-slim
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
      - run: bun ci
      - run: bun run typecheck
