name: sponsorkit

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  update-sponsors:
    name: Update sponsors
    runs-on: ubuntu-slim
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: setup bun
        uses: oven-sh/setup-bun@b7a1c7ccf290d58743029c4f6903da283811b979 # v2.1.0

      - name: Install dependencies
        run: bun ci

      - name: Update sponsors
        run: bun run update
        env:
          SPONSORKIT_GITHUB_TOKEN: ${{ secrets.SPONSORKIT_GITHUB_TOKEN }}

      - name: If changed, commit and push
        run: |
          git config user.name 'ryoppippi'
          git config user.email '1560508+ryoppippi@users.noreply.github.com'
          git add . && git commit -m 'chore: update sponsors' || echo 'No changes to commit'
          git push origin main
