name: sponsorkit

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: write

jobs:
  update-sponsors:
    name: Update sponsors
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Nix
        uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          github_access_token: ${{ github.token }}

      - name: Update sponsors
        run: nix run
        env:
          SPONSORKIT_GITHUB_TOKEN: ${{ secrets.SPONSORKIT_GITHUB_TOKEN }}

      - name: If changed, commit and push
        run: |
          git config user.name 'ryoppippi'
          git config user.email '1560508+ryoppippi@users.noreply.github.com'
          git add . && git commit -m 'chore: update sponsors' || echo 'No changes to commit'
          git push origin main
